@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
h1,
h2,
h3,
p,
ul,
li,
button,
span,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

img,
svg,
div {
  display: block;
}

body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
}

root {
  --bg-color: rgba(255, 245, 246, 1);
  --cntnt-color: rgba(212, 20, 67, 1);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px;
  padding: 0 !important;
  overflow: hidden;
  border: 0 !important;
  clip: rect(0 0 0 0);
}

.button {
  /* height: 44px;
    width: 161.5px;
    border-radius: 22px;*/
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 10;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

/*.backdrop */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--white-color);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  position: absolute;
  list-style: none;
  border: none;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal__button:hover, .modal__button:focus {
  fill: var(--accent-color);
  background-image: url(../images/closexopt.svg) no-repeat;
}

/*.backdrop*/
/*.modal*/
textarea {
  resize: none;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5px;
}

.form__input {
  outline: none;
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px 10px 40px;
  border: 1px solid var(--brdrinput-color);
  border-radius: 4px;
  max-height: 40px;
}

.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus {
  border: 1px solid var(--accent-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label {
  top: 30%;
  left: 30px;
  margin-bottom: 2px;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__leave {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.form__icon {
  position: absolute;
  top: 65%;
  left: 12px;
  bottom: 4px;
  fill: currentColor;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
}

.form__comment {
  display: inline-block;
  outline: none;
  margin: 0;
  padding: 12px 16px;
  width: 100%;
  height: 138px;
  border: 1px solid var(--brdrinput-color);
  border-radius: 4px;
}

.form__comment:hover, .form__comment:focus {
  border: 1px solid var(--accent-color);
}

.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form__checkbox:checked + .form__icon-check {
  border-color: var(--accent-color);
  background-image: url(../images/checkopt.svg);
  background-size: contain;
  background-origin: border-box;
  cursor: pointer;
  -webkit-transition: border-color, background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color, background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:hover, .form__checkbox:focus {
  border-color: var(--accent-color);
}

.form__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.form__condition {
  margin-left: 7px;
  color: var(--accent-color);
}

.form__icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-color);
  border-radius: 2px;
  margin-right: 7px;
}

.form__button-send {
  position: relative;
  left: 130px;
  margin: 0;
  top: 30px;
  cursor: pointer;
  padding: 10px 55px;
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
}

.form__button-send:hover, .form__button-send:focus {
  -webkit-box-shadow: 4px 4px 4px 4px rgba(128, 26, 26, 0.25);
          box-shadow: 4px 4px 4px 4px rgba(128, 26, 26, 0.25);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 23px 21px;
  padding-top: 60px;
  background-color: #e17992;
  z-index: 9;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle {
  position: absolute;
  right: 28px;
  top: 23px;
  z-index: 9;
  background-color: #e17992;
  border: none;
}

.mobile-menu {
  margin-top: 32px;
}

.mobile-menu__button {
  background-color: --white-color;
  border: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
    fill: currentColor;
  }
}

.mobile-menu__button--order {
  margin-left: auto;
  margin-right: auto;
  width: 209px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  border: none;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d41443;
}

.mobile-menu__button--order-icon {
  margin-left: 14px;
}

.mobile-menu__link {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 23px;
}

.hero-header {
  background-color: #ffb8ca;
  background-size: 346px;
  background-repeat: no-repeat;
  padding-top: 6px;
  height: 502px;
  position: relative;
  overflow: hidden;
}

.hero-header__container {
  position: relative;
  z-index: 0;
  height: 100%;
}

.hero-header__container::before {
  -webkit-animation: animate10 5000ms infinite 2000ms;
          animation: animate10 5000ms infinite 2000ms;
  -webkit-transform-origin: bottom bottom;
          transform-origin: bottom bottom;
  content: "";
  display: inline-block;
  position: absolute;
  width: 346px;
  height: 344px;
  right: -19%;
  bottom: 75px;
  z-index: -1;
  background-image: url(../images/Ellherom.svg);
  background-repeat: no-repeat;
}

.hero-header__container::after {
  -webkit-animation: animate15 5000ms infinite 2000ms;
          animation: animate15 5000ms infinite 2000ms;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  content: "";
  position: absolute;
  z-index: -1;
  width: 171px;
  height: 410px;
  right: 12px;
  bottom: 0;
  background-image: url(../images/compr480/ice-burger-1x-min.png);
  background-repeat: no-repeat;
}

.hero-header__btn {
  border: none;
  background-color: #ffb8ca;
}

.hero-header__wrapper-wrap {
  margin-bottom: 19px;
}

.hero-header__title {
  font-family: Titan One;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-header__title--first {
  font-family: Titan One;
  font-size: 34px;
  line-height: 90.5%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.hero-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 137px;
}

.hero-header__filter--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-header__button--red {
  min-width: 62.4px;
  height: 24px;
  border-radius: 12px;
  border: none;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d41443;
  color: #ffffff;
  margin-right: 8px;
}

.hero-header__button--white {
  min-width: 82.8px;
  height: 24px;
  border-radius: 12px;
  border: none;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  color: #d41443;
}

@-webkit-keyframes animate10 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  75% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate10 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  75% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes animate15 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  75% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate15 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  75% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 767px) {
  .products {
    margin-left: auto;
    margin-right: auto;
    padding-top: 121px;
    padding-bottom: 98px;
    text-align: center;
  }
  .products__slogan {
    margin-bottom: 114px;
  }
  .products__slogan--first {
    font-family: Titan One;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffa5ba;
  }
  .products__slogan--second {
    font-family: Titan One;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .products__list {
    position: relative;
    width: 280px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .products__item {
    margin: 0 auto;
    min-width: 280px;
    border-radius: 24px;
    padding: 161px 39px 41px 41px;
  }
  .products__item--title {
    font-family: Titan One;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
  }
  .products__item--cream {
    background-color: #ffb8ca;
  }
  .products__item--cream::before {
    -webkit-animation: animate125 3000ms infinite 1000ms;
            animation: animate125 3000ms infinite 1000ms;
    content: "";
    display: block;
    width: 249px;
    height: 252px;
    position: absolute;
    top: -119px;
    left: 16px;
    background-image: url(../images/compr480/ice-cream-1x-min.png);
  }
  .products__item--coffee {
    background: #f0d1a5;
  }
  .products__item--coffee::before {
    -webkit-animation: animate50 3000ms infinite 1000ms;
            animation: animate50 3000ms infinite 1000ms;
    content: "";
    display: block;
    width: 249px;
    height: 252px;
    position: absolute;
    top: 495px;
    left: 16px;
    background-image: url(../images/compr480/ice-coffee-1x-min.png);
  }
  .products__item--milk {
    background: #c2e297;
  }
  .products__item--milk::before {
    -webkit-animation: animateX25 3000ms infinite 1000ms;
            animation: animateX25 3000ms infinite 1000ms;
    content: "";
    display: block;
    width: 249px;
    height: 252px;
    position: absolute;
    top: 1103px;
    left: 16px;
    background-image: url(../images/compr480/milkshakes-1x-min.png);
  }
  .products__item:not(:last-child) {
    margin-bottom: 120px;
  }
  .products__item--icon {
    margin: 0 auto 30px;
  }
  .products__item--text {
    margin-bottom: 30px;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
  }
  .products__item--button {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #fff;
  }
  .products__item--button-icon {
    width: 15px;
    height: 15px;
    fill: #d41443;
  }
}

@-webkit-keyframes animate125 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate125 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes animate50 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate50 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes animateX25 {
  0% {
    -webkit-transform: translate 0, 0;
            transform: translate 0, 0;
  }
  25% {
    -webkit-transform: translate(-25px, -25px);
            transform: translate(-25px, -25px);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  75% {
    -webkit-transform: translate(25px, -50px);
            transform: translate(25px, -50px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes animateX25 {
  0% {
    -webkit-transform: translate 0, 0;
            transform: translate 0, 0;
  }
  25% {
    -webkit-transform: translate(-25px, -25px);
            transform: translate(-25px, -25px);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  75% {
    -webkit-transform: translate(25px, -50px);
            transform: translate(25px, -50px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.about {
  padding-top: 125px;
  padding-bottom: 39px;
  background: #fff5f6;
  background-image: url(../images/compr480/sectionbg1-1x-min.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 87%;
}

.about__container {
  margin-left: 30px;
}

.about__title {
  font-family: Titan One;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

.about__preview {
  font-family: Titan One;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 26px;
}

.about__content {
  margin-right: 50px;
}

.about__signature {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #000000;
  margin-top: 46px;
  margin-bottom: 40px;
}

.about__text {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907e82;
}

.about__text--first {
  margin-bottom: 12px;
}

.about__text--second {
  margin-bottom: 17px;
}

.about__button {
  display: inline-block;
  text-align: center;
  min-width: 176px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  padding: 7px 14px;
  margin-left: 20px;
  margin-top: 17px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #d41443;
  background-color: #fff;
  border: none;
}

.about__btn--icon {
  margin-left: 13px;
  display: inline-block;
  width: 7px;
  height: 10px;
}

.advantages {
  padding: 0;
  margin: 0;
  padding: 20px 0 97px;
  background-color: #fff5f6;
  width: 100%;
}

.advantages__container {
  width: 480px;
  padding-left: 20px;
}

.advantages__list {
  list-style: none;
}

.advantages__item {
  width: 230px;
  height: 156px;
}

.advantages__item:not(:last-child) {
  margin-bottom: 38px;
}

.advantages__content {
  font-family: Titan One;
  font-style: Regular;
  font-size: 36px;
  line-height: 41px;
  line-height: 1;
  letter-spacing: 0.04;
  margin-bottom: 13px;
  color: #d41443;
}

.advantages__signature {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 170%;
  /* or 20px */
  color: #000000;
}

.first::before {
  content: "";
  display: inline-block;
  width: 33px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url("../images/icon1-min.png");
}

.second::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url("../images/icon2-min.png");
}

.third::before {
  content: "";
  display: inline-block;
  width: 44px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url("../images/icon3-min.png");
}

.gallery {
  max-width: 100%;
  display: block;
  height: 122px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #fff5f6), color-stop(40%, #fff), color-stop(0, #fff));
  background-image: linear-gradient(#fff5f6 40%, #fff 40%, #fff 0);
}

.gallery__container {
  padding: 0;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .gallery__container {
    width: 480px;
  }
}

.customer-reviews {
  padding-top: 80px;
}

.customer-reviews__photo {
  margin: 0px auto 29px;
}

.customer-reviews__signature {
  position: relative;
  padding: 43px 50px 20px;
  z-index: -2;
  background-color: #fafafa;
}

.customer-reviews__signature::before {
  position: absolute;
  top: 28px;
  left: 40px;
  z-index: -1;
  content: "";
  display: inline-block;
  width: 54px;
  height: 40px;
  background-image: url(../images/icon-comma.svg);
}

.customer-reviews__text {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  color: #000000;
  background-image: repeating-linear-gradient(180deg, transparent 0, transparent 30px, #e1e1e1 0, transparent 31px);
}

.customer-reviews__user {
  text-align: center;
}

.customer-reviews__user--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.customer-reviews__user--icon-item:not(:last-child) {
  margin-right: 18px;
}

.customer-reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto 18px;
}

.customer-reviews__content--item:not(:last-child) {
  margin-right: 10px;
}

.contacts {
  width: 100%;
  height: 100%;
  padding-top: 85px;
  padding-bottom: 113px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ffffff), color-stop(10%, #fff5f6), color-stop(90%, #fff5f6));
  background-image: linear-gradient(180deg, #ffffff 10%, #fff5f6 10%, #fff5f6 90%);
}

.contacts__list--item {
  padding: 41px 21px 42px 20px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 427px;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__list--item-cafe {
  width: 80px;
  height: 22px;
  background: #f0d1a5;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.contacts__item--food {
  width: 130px;
  height: 16px;
  background: #c2e297;
  border-radius: 4px;
  font-size: 12px;
  line-height: 186%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.contacts__city--name {
  margin-bottom: 10px;
  min-width: 57px;
  height: 22px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #000000;
}

.contacts__city--description {
  margin-bottom: 25px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
}

.contacts__timetable {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
}

.contacts__timetable--work-day {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #000000;
}

.contacts__timetable--work-time {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ffa5ba;
}

.contacts__contact {
  /* margin-top: 25px;
        margin-bottom: 42px;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;*/
  color: #907e82;
}

.contacts__contact--link {
  margin-top: 25px;
  margin-bottom: 42px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
}

.contacts__list--item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__filter {
  margin-top: 54px;
}

.contacts__button {
  height: 44px;
  min-width: 161.5px;
  border-radius: 22px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;
}

.contacts__btn--locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 20px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #d41342;
  border: none;
}

.contacts__btn--locicon {
  margin-left: 11px;
  display: inline-block;
  width: 7px;
  height: 10px;
  margin-bottom: -1px;
}

.contacts__btn--franchise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 32px;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #d41443;
  background-color: #fff;
  border: none;
}

.contacts__btn--fricon {
  margin-left: 13px;
  display: inline-block;
  width: 7px;
  height: 10px;
  margin-bottom: -1px;
}

.footer {
  background: #fff5f6;
  position: relative;
  padding-bottom: 25px;
}

.footer__pre-title {
  margin-bottom: 17px;
  font-family: Titan One;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffa5ba;
}

.footer__pre-title--span {
  display: block;
}

.footer__title {
  margin-bottom: 43px;
  font-family: Titan One;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.footer__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 43px;
}

.footer__network--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fea5bb;
}

.footer__network--link:hover, .footer__network--link:focus {
  background-color: #d41443;
}

.footer__network--link-icon {
  width: 19px;
  height: 19px;
}

.footer__network--item:not(:last-child) {
  margin-right: 28px;
}

.footer__contact {
  min-width: 230px;
  height: 22px;
  margin-bottom: 65px;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #000000;
}

.footer__contact-tel {
  color: #d41443;
  text-decoration: none;
}

.footer__copyrigt::before {
  position: absolute;
  bottom: 89px;
  left: 0;
  display: inline-block;
  content: "";
  width: 100%;
  height: 0.5px;
  background-color: #e1e1e1;
}

.footer__copyrigt {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: #907e82;
}

.footer__copyrigt--span {
  display: block;
}
/*# sourceMappingURL=main.css.map */