.footer {
    background: #fff5f6;
    &__pre-title {
        margin-bottom: 17px;
        font-family: Titan One;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #ffa5ba;
    }
    &__pre-title--span {
        display: block;
    }
    &__title {
        margin-bottom: 43px;
        font-family: Titan One;
        font-size: 34px;
        line-height: 39px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #d41443;
    }
    &__network {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 43px;
    }
    &__network--item:not(:last-child) {
        margin-right: 28px;
    }
    &__contact {
        margin-bottom: 43px;
        font-family: DM Sans;
        font-weight: bold;
        font-size: 12px;
        line-height: 186%;
        text-align: right;
        color: #000000;
    }
    &__contact-tel {
        font-family: DM Sans;
        font-weight: bold;
        font-size: 12px;
        line-height: 1, 86em;
        text-align: right;
        color: #d41443;
    }
    &__copyrigt {
        margin-top: 22px;
        margin-bottom: 25px;
        font-family: DM Sans;
        font-weight: bold;
        font-size: 14px;
        line-height: 152%;
        text-align: center;
        color: #907e82;
        border-top: 1px solid #e1e1e1;
    }
    &__copyrigt--span {
        display: block;
    }
}