.hero-header {
    background-color: #ffb8ca;
    background-size: 346px;
    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
        height: 399px;
        padding-top: 37px;
    }
    padding-top: 6px;
    height: 502px;
    position: relative;
    overflow: hidden;
    &__container {
        position: relative;
        z-index: 0;
        height: 100%;
        &::before {
            animation: animate10 5000ms infinite 2000ms;
            transform-origin: bottom bottom;
            content: "";
            display: inline-block;
            position: absolute;
            @media screen and (min-width: 768px) {
                animation: animate11 2500ms infinite 2000ms;
                transform-origin: bottom bottom;
                width: 324px;
                height: 322px;
                left: 307px;
                top: 6px;
                background-image: url(../images/Ellburgtabm.svg);
                background-repeat: no-repeat;
            }
            width: 346px;
            height: 344px;
            right: -19%;
            bottom: 75px;
            z-index: -1;
            background-image: url(../images/Ellherom.svg);
            background-repeat: no-repeat;
        }
        &::after {
            animation: animate15 5000ms infinite 2000ms;
            transform-origin: bottom center;
            content: "";
            position: absolute;
            z-index: -1;
            @media screen and (min-width: 768px) {
                animation: animate16 2500ms infinite 2000ms;
                transform-origin: bottom center;
                width: 143px;
                height: 336px;
                background-image: url(../images/compr768/ice-burger-1x-min.png);
                left: 378px;
                top: 26px;
            }
            width: 171px;
            height: 410px;
            right: 12px;
            bottom: 0;
            background-image: url(../images/compr480/ice-burger-1x-min.png);
            background-repeat: no-repeat;
        }
    }
    &__btn {
        display: flex;
        @media screen and (min-width: 768px) {
            margin-left: 291px;
            background-color: transparent;
        }
        border: none;
        background-color: #ffb8ca;
    }
    &__wrapper-wrap {
        margin-bottom: 19px;
    }
    &__title {
        font-family: Titan One;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #ffffff;
        &--first {
            font-family: Titan One;
            font-size: 34px;
            line-height: 90.5%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #d41443;
        }
    }
    &__wrapper {
        @media screen and (min-width: 768px) {
            z-index: 2;
            display: flex;
            justify-content: space-between;
        }
    }
    &__number-list {
        @media screen and (min-width: 768px) {
            font-family: Titan One;
            font-size: 28px;
            line-height: 32px;
            text-align: right;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #d41443;
        }
        z-index: 3;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: none;
        }
    }
    &__number-item:not(:last-child) {
        margin-bottom: 16px;
    }
    &__number-sixten::before {
        z-index: -1;
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 61px;
        left: 725px;
        background-image: url(../images/Elwit1m.svg);
        background-repeat: no-repeat;
    }
    &__number-tvthree::after {
        z-index: -1;
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 122px;
        right: 26px;
        background-image: url(../images/Elwit1m.svg);
        background-repeat: no-repeat;
    }
    &__number-text {
        font-family: DM Sans;
        font-size: 8px;
        line-height: 10px;
        text-align: right;
        text-transform: none;
        color: #ffffff;
        @media screen and (min-width: 320px) and (max-width: 767) {
            display: none;
        }
    }
    &__nav {
        display: flex;
        @media screen and (min-width: 768px) {
            margin-bottom: 15px;
        }
        justify-content: space-between;
        align-items: center;
        margin-bottom: 137px;
    }
    &__navbtn {
        @media screen and (min-width: 768px) and (max-width: 1250px) {
            margin-left: 30px;
            width: 160px;
            height: 44px;
            background: #ffffff;
            border-radius: 22px;
            border: none;
            font-family: DM Sans;
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #d41443;
        }
        display: none;
    }
    &__filter {
        @media screen and (min-width: 768px) {
            margin-bottom: 66px;
        }
    }
    &__filter--list {
        display: flex;
    }
    &__button--red {
        min-width: 62.4px;
        height: 24px;
        border-radius: 12px;
        border: none;
        font-family: DM Sans;
        font-size: 8px;
        line-height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #d41443;
        color: #ffffff;
        margin-right: 8px;
    }
    &__button--white {
        min-width: 82.8px;
        height: 24px;
        border-radius: 12px;
        border: none;
        font-family: DM Sans;
        font-size: 8px;
        line-height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        color: #d41443;
    }
    &__wrap {
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: none;
        }
        @media screen and (min-width: 768px) {
            margin-left: 120px;
            width: 114px;
            position: relative;
            &::before {
                content: "";
                display: block;
                width: 124px;
                height: 126px;
                position: absolute;
                top: -35px;
                left: -120px;
                background-image: url(../images/compr768/milk-1x-min.png);
                background-repeat: no-repeat;
            }
            &--button {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 18px;
                height: 18px;
                border-radius: 9px;
                border: none;
                background-color: #fff;
            }
            &--button-icon {
                width: 8px;
                height: 8px;
                fill: #d41443;
            }
            &::after {
                content: "";
                display: block;
                width: 168px;
                height: 133px;
                position: absolute;
                top: -25px;
                left: 425px;
                background-image: url(../images/compr768/ice-girl-1x-min.png);
                background-repeat: no-repeat;
            }
        }
        &--text {
            @media screen and (min-width: 768px) {
                font-family: DM Sans;
                font-size: 8px;
                line-height: 150%;
                margin-bottom: 7px;
                color: #ffffff;
            }
        }
    }
}

@keyframes animate10 {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(0.85);
    }
    75% {
        transform: scale(0.95);
    }
    90% {
        transform: scale(1);
    }
    95% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes animate11 {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(0.8);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes animate15 {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(0.8);
    }
    75% {
        transform: scale(0.9);
    }
    90% {
        transform: scale(1);
    }
    95% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes animate16 {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(0.8);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}