.container {
    @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 34px;
        padding-right: 34px;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
        //@at-root: 34px;
        //padding-right: 34px;
    }
    width: 280px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}