#scrollup.mgray {
    background: rgba(88%, 47%, 57%, 0.6);
    border-radius: 0;
    color: #fff;
}

#scrollup {
    z-index: 11;
    cursor: pointer;
    position: fixed;
    display: none;
    bottom: 15px;
    right: 80px;
    height: 40px;
    width: 40px;
    line-height: 35px;
    transition: transform 1000ms;
}

.i-icon {
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
}

.i-icon::before {
    content: url(../images/icscrollup.png);
    width: 20px;
    height: 20px;
}