:root {
    --bg-color: rgba(255, 245, 246, 1);
    --cntnt-color: rgba(212, 20, 67, 1);
    --abttl-color: #ffa5ba;
    --abprvw-color: #d41443;
    --black-color: #000000;
    --abtxt-color: #907e82;
    --white-color: #ffffff;
    --advbg-color: #fff5f6;
    --bgheher-color: #ffb8ca;
    --ttlhh-color: #ffffff;
    --bgfcs-color: #ecebeb;
    --bgcf-color: #f0d1a5;
    --bgfd-color: #c2e297;
    --brdr-color: #e1e1e1;
    --bgbtn-color: #d41342;
}